{% extends "base.html" %}

{% block title %}{{ name }}を含むページ一覧{% endblock %}

{% block content %}
    <h2>{{ name }}を含むページ一覧</h2>
    {% for item in page_obj.object_list %}
    <div>
        <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
        <p style="color:gray; font-size:small">from {{ item.news.site.name }} ({{ item.page.crawled_at|date:"Y/m/d H:i" }})</p>
        <p>{{ item.body|linebreaksbr|slice:":300" }} ...</p>
    </div>
    {% endfor %}

    {% include "paginator.html" %}

{% endblock %}

