{% extends "base.html" %}

{% block title %}{% if title %}{{ title }}{% else %}最新のページ一覧{% endif %}{% endblock %}

{% block content %}
    <form onsubmit="location.href='{% url "crawler-search" %}' + this.query.value + '/'; return false;">
        <input type="text" name="query" />
        <input type="submit" value="検索" />
    </form>
    <h2>{% if title %}{{ title }}{% else %}最新のページ一覧{% endif %}</h2>
    {% for page in page_obj.object_list %}
    <div>
        <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
        <p style="color:gray; font-size:small">from {{ page.site.name }} ({{ page.crawled_at|date:"Y/m/d H:i" }})</p>
        <p>{{ page.body|linebreaksbr|slice:":300" }} ...</p>
    </div>
    {% endfor %}
    
    {% include "paginator.html" %}

{% endblock %}
